# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js & Frontend
project/frontend/node_modules/
dist/
dist-ssr/

# Python Backend
backend/venv/
backend/__pycache__/
project/backend/downloads/*.mp3
*.pyc

# Env files
frontend/.env
project/backend/.env
project/frontend/.env.local
frontend/.env.*.local
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
